body {


  width: 70%;
  margin: auto;
  background-color: rgb(39, 12, 53);
  font-family: "sans-serif";
  line-height: 2.0;
  color: rgb(250, 250, 250);

  
}

a{
 padding: 80px;
}

.LogoTopo {

  display: flex;
  justify-content: space-between;
}

.Botoes {


  color :brown;
  font-family: sans-serif;
  padding: 70px;
  display: inline
  
}

main {
  background: black;
}

fieldset {
  border: 0;
}

